In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import sklearn as skl
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest, SelectPercentile
from sklearn.feature_selection import chi2
from sklearn.metrics import log_loss, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.cross_validation import cross_val_score, KFold
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

## 1. Feature Reduction For Training Data

       Select the top 10% of features with the most variance. Starting with 1006 ASM features the
       process will select about 100 features. The write the reduced feature set to a file.

In [16]:
train_data = pd.read_csv('data/train-malware-features-asm.csv')
labels = pd.read_csv('data/trainLabels.csv')
sorted_train_data = train_data.sort(columns='filename', axis=0, ascending=True, inplace=False)
sorted_train_labels = labels.sort(columns='Id', axis=0, ascending=True, inplace=False)
X = sorted_train_data.iloc[:,1:]
y = np.array(sorted_train_labels.iloc[:,1])

In [17]:
print(X.shape)

(10868, 1006)

In [18]:
print(y.shape)

(10868,)

In [19]:
sorted_train_data.head()

,filename,edx,esi,es,fs,ds,ss,gs,cs,ah,al,ax,bh,bl,bx,ch,cl,cx,dh,dl,
2277,01IsoiSMh5gxyDYTl4CB,750,496,3,0,0,0,0,0,8,224,49,34,25,0,41,191,52,38,163,...
2053,01SuzwMJEIXsK7A8dQbl,1121,24,3,0,1,4,0,2,6,22,7,1,4,0,3,37,2,4,9,...
2144,01azqd4InC7m9JpocGv5,1493,1900,0,0,0,0,0,0,1,398,0,0,47,0,1,77,4,1,56,...
1236,01jsnpXSAlgw6aPeDxrU,525,4,0,0,0,0,0,0,0,0,0,0,1,0,0,1,2,0,0,...
339,01kcPWA9K2BOxQeS5Rju,23,35,0,0,0,0,0,0,0,3,0,0,1,0,0,1,0,0,0,...

In [20]:
sorted_train_labels.head()

                        Id  Class
1541  01IsoiSMh5gxyDYTl4CB      2
8627  01SuzwMJEIXsK7A8dQbl      8
9855  01azqd4InC7m9JpocGv5      9
9856  01jsnpXSAlgw6aPeDxrU      9
0     01kcPWA9K2BOxQeS5Rju      1

[5 rows x 2 columns]

In [21]:
train_data.head()

,filename,edx,esi,es,fs,ds,ss,gs,cs,ah,al,ax,bh,bl,bx,ch,cl,cx,dh,dl,
0,4jKA1GUDv6TMNpPuIxER,4049,9957,11,3,3,3,3,3,60,791,242,9,393,31,26,477,135,8,381,...
1,4ZBJzEqnW52fFUw0PG3v,539,513,10,0,12,16,0,12,29,152,8,53,24,2,25,53,5,52,30,...
2,6m8NxLfg2MR0nwXFuEq5,427,482,1,0,0,0,0,0,18,163,16,0,84,0,0,84,0,1,130,...
3,28U1hRkQ6Yl57493ZdXD,51,91,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4,45Wy3TxE98HfiXreOCSu,644,726,8,0,0,0,0,0,2,98,89,0,12,1,13,157,80,0,70,...

In [23]:
y

array([2, 8, 9, ..., 4, 4, 4])

In [ ]:
# find the top 10 percent variance features, from 1006 -> 101 features
fsp = SelectPercentile(chi2, 10)
X_new = fsp.fit_transform(X,y)
X_new.shape

In [25]:
X_new

array([[  750,   496,     8, ...,    97,    70,  4572],
       [ 1121,    24,     6, ...,     0,    41,  2066],
       [ 1493,  1900,     1, ...,    48,    93, 13163],
       ...,
       [  173,   245,    44, ...,     9,    50,   134],
       [  189,   153,    10, ...,     0,    11,  1527],
       [  153,   183,    37, ...,     9,    12,   281]])

In [26]:
selected_names = fsp.get_support(indices=True)
selected_names = selected_names + 1
selected_names

array([  1,   2,   9,  10,  11,  13,  14,  16,  17,  19,  20,  21,  22,
        23,  24,  25,  26,  27,  28,  30,  31,  32,  35,  36,  39,  40,
        41,  42,  43,  52,  55,  56,  57,  58,  60,  62,  63,  65,  66,
        67,  68,  69,  71,  73,  74,  76,  77,  78,  79,  80,  81,  82,
        85,  86,  88,  89,  93,  95,  99, 100, 107, 109, 112, 115, 116,
       118, 119, 140, 398, 400, 712, 913, 914, 917, 923, 924, 925, 926,
       927, 928, 929, 930, 932, 934, 935, 937, 939, 940, 943, 944, 945,
       946, 947, 957, 962, 964, 971, 978, 985, 986, 987])

In [28]:
data_trimmed = sorted_train_data.iloc[:,selected_names]
data_fnames = pd.DataFrame(sorted_train_data['filename'])
data_reduced = data_fnames.join(data_trimmed)
data_reduced.head()

,filename,edx,esi,ah,al,ax,bl,bx,cl,cx,dl,dx,eax,ebp,ebx,ecx,edi,esp,add,al.1,
2277,01IsoiSMh5gxyDYTl4CB,750,496,8,224,49,25,0,191,52,163,63,1447,905,260,1093,393,420,323,79,...
2053,01SuzwMJEIXsK7A8dQbl,1121,24,6,22,7,4,0,37,2,9,3,1220,1544,18,1228,24,107,427,8,...
2144,01azqd4InC7m9JpocGv5,1493,1900,1,398,0,47,0,77,4,56,2,4438,591,810,2317,1284,701,622,262,...
1236,01jsnpXSAlgw6aPeDxrU,525,4,0,0,0,1,0,1,2,0,0,942,451,5,547,5,56,32,0,...
339,01kcPWA9K2BOxQeS5Rju,23,35,0,3,0,1,0,1,0,0,0,137,43,19,66,15,81,11,1,...

In [29]:
data_reduced.to_csv('data/sorted-train-malware-features-asm-reduced.csv', index=False)
sorted_train_labels.to_csv('data/sorted-train-labels.csv', index=False)

## 2. Feature Reduction Of Test Data
    Use columns names from reduced ASM train data feature set to select best ASM features from test data
    and write to a file.

In [30]:
test_data = pd.read_csv('data/test-malware-features-asm.csv')
sorted_test_data = test_data.sort(columns='filename', axis=0, ascending=True, inplace=False)
sorted_test_data.shape

(10873, 1007)

In [31]:
sorted_test_data.head()

,filename,edx,esi,es,fs,ds,ss,gs,cs,ah,al,ax,bh,bl,bx,ch,cl,cx,dh,dl,
7297,ITSUPtCmh7WdJcsYDwQ5,245,434,0,0,1,0,0,0,9,51,1,0,4,1,3,1,3,0,1,...
3257,Ig2DB5tSiEy1cJvV0zdw,258,437,0,0,0,0,0,0,11,60,1,1,2,2,0,1,2,2,1,...
4183,Jmo6eIhLZ4t9r8QsxEg5,238,365,0,0,0,0,0,0,8,51,0,0,4,1,0,1,2,1,0,...
8084,JtPFl4ewgdD78OzCMa3o,241,556,1,0,1,1,0,0,4,52,0,1,0,1,2,2,2,0,1,...
9774,K3ZtByPHGSFYNljDUEXp,92,75,0,0,0,0,0,0,0,1,0,0,0,0,0,2,0,0,0,...

In [32]:
# Get the feature names from the reduced train dataframe
column_names = data_reduced.columns
print(column_names)

Index([u'filename', u'edx', u'esi', u'ah', u'al', u'ax', u'bl', u'bx', u'cl', u'cx', u'dl', u'dx', u'eax', u'ebp', u'ebx', u'ecx', u'edi', u'esp', u'add', u'al.1', u'call', u'cdq', u'cld', u'cmp', u'const', u'db', u'dd', u'dec', u'dw', u'endp', u'fld', u'fstp', u'fword', u'fxch', u'imul', u'inc', u'int', u'jb', u'jg', u'jge', u'jl', u'jmp', u'jnb', u'jnz', u'jz', u'lea', u'mov', u'movzx', u'mul', u'near', u'neg', u'not', u'or', u'pop', u'popf', u'push', u'pushf', u'rep', u'retn', u'sar', u'sbb', u'shl', u'shr', u'std', u'sub', u'test', u'xchg', u'xor', u'time', u'exit', u'free', u'__CxxFrameHandler', u'Offset', u'loc', u'var', u'BYTES', u'large', u'short', u'dd.1', u'db.1', u'dw.1', u'XREF', u'ptr', u'FUNCTION', u'byte', u'word', u'char', u'stdcall', u'arg', u'align', u'WinMain', u'unk', u'cookie', u'off', u'void', u'HWND', u'int.1', u'entry', u'__imp_', u'.rdata:', ...], dtype='object')

In [34]:
# Extract the reduced feature set from the full test feature set
sorted_test_data_reduced = sorted_test_data.loc[:,column_names]
sorted_test_data_reduced.head()

,filename,edx,esi,ah,al,ax,bl,bx,cl,cx,dl,dx,eax,ebp,ebx,ecx,edi,esp,add,al.1,
7297,ITSUPtCmh7WdJcsYDwQ5,245,434,9,51,1,4,1,1,3,1,2,553,302,300,245,223,41,204,15,...
3257,Ig2DB5tSiEy1cJvV0zdw,258,437,11,60,1,2,2,1,2,1,3,554,321,298,218,198,44,175,20,...
4183,Jmo6eIhLZ4t9r8QsxEg5,238,365,8,51,0,4,1,1,2,0,0,519,285,268,194,236,46,173,23,...
8084,JtPFl4ewgdD78OzCMa3o,241,556,4,52,0,0,1,2,2,1,2,668,402,298,208,225,61,214,27,...
9774,K3ZtByPHGSFYNljDUEXp,92,75,0,1,0,0,0,2,0,0,0,402,186,103,139,226,225,119,0,...

In [35]:
sorted_test_data_reduced.to_csv('data/sorted-test-malware-features-asm-reduced.csv', index=False)

## 3. Sort and Write Byte Feature Sets
    Sort the reduced feature set data frames on the filename column and write to sorted data to file.

In [37]:
# First load the .asm training features and training labels
#sorted_train_data_asm = pd.read_csv('data/sorted-train-malware-features-asm-reduced.csv')
#sorted_train_labels = pd.read_csv('data/sorted-train-labels.csv','r')

# Next load the .byte training features and sort
train_data_byte = pd.read_csv('data/train-malware-features-byte.csv')
sorted_train_data_byte = train_data_byte.sort(columns='filename', axis=0, ascending=True, inplace=False)

# Next load the .byte test features and sort
test_data_byte = pd.read_csv('data/test-malware-features-byte.csv')
sorted_test_data_byte = test_data_byte.sort(columns='filename', axis=0, ascending=True, inplace=False)

#combined_train_data = pd.DataFrame.merge(sorted_train_data_asm, sorted_train_data_byte, on='filename', how='inner', sort=False)

# Now write all the sorted feature sets to file
#f = open('data/sorted-train-features-combined.csv', 'w')
#combined_train_data.to_csv(f, index=False)
#f.close()
f = open('data/sorted-train-malware-features-byte.csv', 'w')
sorted_train_data_byte.to_csv(f, index=False)
f.close()
f = open('data/sorted-test-malware-features-byte.csv', 'w')
sorted_test_data_byte.to_csv(f, index=False)
f.close()

## 4. Sort and Reduce Image Data for Test and Train Files

In [9]:
# Load and sort asm image data for test and train files
train_image_asm = pd.read_csv('data/train-image-features-asm.csv')
sorted_train_image_asm = train_image_asm.sort(columns='filename', axis=0, ascending=True, inplace=False)

test_image_asm = pd.read_csv('data/test-image-features-asm.csv')
sorted_test_image_asm = test_image_asm.sort(columns='filename', axis=0, ascending=True, inplace=False)

# Load and sort byte image data for test and train files
train_image_byte = pd.read_csv('data/train-image-features-byte.csv')
sorted_train_image_byte = train_image_byte.sort(columns='filename', axis=0, ascending=True, inplace=False)

test_image_byte = pd.read_csv('data/test-image-features-byte.csv')
sorted_test_image_byte = test_image_byte.sort(columns='filename', axis=0, ascending=True, inplace=False)

In [4]:
# Now write all the sorted image feature sets to file
f = open('data/sorted-train-image-features-asm.csv', 'w')
sorted_train_image_asm.to_csv(f, index=False)
f.close()
f = open('data/sorted-test-image-features-asm.csv', 'w')
sorted_test_image_asm.to_csv(f, index=False)
f.close()
f = open('data/sorted-train-image-features-byte.csv', 'w')
sorted_train_image_byte.to_csv(f, index=False)
f.close()
f = open('data/sorted-test-image-features-byte.csv', 'w')
sorted_test_image_byte.to_csv(f, index=False)
f.close()

In [9]:
sorted_test_image_asm.head()

,filename,ASM_0,ASM_1,ASM_2,ASM_3,ASM_4,ASM_5,ASM_6,ASM_7,ASM_8,...,ASM_990,ASM_991,ASM_992,ASM_993,ASM_994,ASM_995,ASM_996,ASM_997,ASM_998,ASM_999
7297,ITSUPtCmh7WdJcsYDwQ5,72,69,65,68,69,82,58,48,48,...,32,32,32,32,58,9,80,111,114,116
3257,Ig2DB5tSiEy1cJvV0zdw,72,69,65,68,69,82,58,48,48,...,59,32,70,111,114,109,97,116,9,32
4183,Jmo6eIhLZ4t9r8QsxEg5,72,69,65,68,69,82,58,48,48,...,71,77,69,78,84,32,72,69,65,68
8084,JtPFl4ewgdD78OzCMa3o,72,69,65,68,69,82,58,48,48,...,71,77,69,78,84,32,72,69,65,68
9774,K3ZtByPHGSFYNljDUEXp,72,69,65,68,69,82,58,48,48,...,59,32,70,111,114,109,97,116,9,32

In [10]:
# Now select 10% best train image asm features by variance
sorted_train_labels = pd.read_csv('data/sorted-train-labels.csv')
X = sorted_train_image_asm.iloc[:,1:]
y = np.array(sorted_train_labels.iloc[:,1])
fsp = SelectPercentile(chi2, 10)
X_new = fsp.fit_transform(X,y)
X_new.shape

(10868, 100)

In [11]:
selected_names = fsp.get_support(indices=True)
selected_names = selected_names + 1
selected_names

array([142, 145, 151, 156, 164, 173, 186, 188, 190, 215, 222, 223, 224,
       226, 227, 244, 245, 246, 247, 248, 261, 262, 272, 311, 312, 313,
       314, 315, 317, 318, 334, 338, 339, 340, 345, 351, 352, 353, 354,
       356, 366, 371, 373, 374, 375, 376, 378, 379, 380, 381, 405, 410,
       412, 413, 422, 423, 424, 425, 426, 427, 437, 460, 583, 584, 585,
       586, 614, 616, 617, 618, 619, 620, 629, 631, 641, 645, 646, 647,
       653, 655, 678, 681, 682, 683, 685, 712, 720, 724, 761, 852, 853,
       920, 950, 951, 952, 954, 956, 957, 958, 963])

In [12]:
data_trimmed = sorted_train_image_asm.iloc[:,selected_names]
data_fnames = pd.DataFrame(sorted_train_image_asm['filename'])
sorted_train_image_asm_reduced = data_fnames.join(data_trimmed)
sorted_train_image_asm_reduced.head()

,filename,ASM_141,ASM_144,ASM_150,ASM_155,ASM_163,ASM_172,ASM_185,ASM_187,ASM_189,...,ASM_852,ASM_919,ASM_949,ASM_950,ASM_951,ASM_953,ASM_955,ASM_956,ASM_957,ASM_962
9881,01IsoiSMh5gxyDYTl4CB,58,52,9,9,59,115,101,9,101,...,101,116,114,116,117,108,115,105,122,32
8795,01SuzwMJEIXsK7A8dQbl,9,9,124,104,9,32,32,104,32,...,48,68,69,88,80,78,93,13,10,116
9238,01azqd4InC7m9JpocGv5,9,9,124,104,9,32,32,104,32,...,48,68,69,88,80,78,93,13,10,116
5484,01jsnpXSAlgw6aPeDxrU,9,9,124,104,9,32,32,104,32,...,48,68,69,88,80,78,93,13,10,116
1478,01kcPWA9K2BOxQeS5Rju,9,9,124,104,9,32,32,104,32,...,61,10,48,48,48,9,9,9,9,48

In [13]:
data_trimmed = sorted_test_image_asm.iloc[:,selected_names]
data_fnames = pd.DataFrame(sorted_test_image_asm['filename'])
sorted_test_image_asm_reduced = data_fnames.join(data_trimmed)
sorted_test_image_asm_reduced.head()

,filename,ASM_141,ASM_144,ASM_150,ASM_155,ASM_163,ASM_172,ASM_185,ASM_187,ASM_189,...,ASM_852,ASM_919,ASM_949,ASM_950,ASM_951,ASM_953,ASM_955,ASM_956,ASM_957,ASM_962
7297,ITSUPtCmh7WdJcsYDwQ5,9,9,124,104,9,32,32,104,32,...,9,32,9,9,9,9,32,13,10,100
3257,Ig2DB5tSiEy1cJvV0zdw,9,9,124,104,9,32,32,104,32,...,9,32,9,9,9,32,32,32,32,10
4183,Jmo6eIhLZ4t9r8QsxEg5,9,9,124,104,9,32,32,104,32,...,61,10,48,48,48,9,9,9,9,48
8084,JtPFl4ewgdD78OzCMa3o,9,9,124,104,9,32,32,104,32,...,61,10,48,48,48,9,9,9,9,48
9774,K3ZtByPHGSFYNljDUEXp,9,9,124,104,9,32,32,104,32,...,9,32,9,9,9,32,32,32,32,10

In [14]:
# Now select 10% best train image byte features by variance
sorted_train_labels = pd.read_csv('data/sorted-train-labels.csv')
X = sorted_train_image_byte.iloc[:,1:]
y = np.array(sorted_train_labels.iloc[:,1])
fsp = SelectPercentile(chi2, 10)
X_new = fsp.fit_transform(X,y)
X_new.shape

(10868, 100)

In [15]:
selected_names = fsp.get_support(indices=True)
selected_names = selected_names + 1
selected_names

array([ 16,  22,  23,  28,  31,  35,  37,  43,  44,  46,  49,  50,  52,
        53,  55,  56,  69,  72,  80,  95,  96, 108, 129, 132, 138, 144,
       154, 157, 162, 169, 171, 191, 196, 202, 211, 212, 217, 218, 226,
       227, 258, 260, 261, 263, 264, 267, 269, 270, 273, 276, 279, 285,
       287, 288, 328, 362, 380, 386, 394, 401, 428, 432, 438, 453, 514,
       547, 554, 667, 679, 690, 801, 804, 810, 822, 826, 831, 840, 849,
       850, 853, 858, 867, 886, 887, 890, 895, 896, 899, 914, 916, 917,
       923, 925, 944, 945, 948, 950, 954, 956, 962])

In [16]:
data_trimmed = sorted_train_image_byte.iloc[:,selected_names]
data_fnames = pd.DataFrame(sorted_train_image_byte['filename'])
sorted_train_image_byte_reduced = data_fnames.join(data_trimmed)
sorted_train_image_byte_reduced.head()

,filename,BYTE_15,BYTE_21,BYTE_22,BYTE_27,BYTE_30,BYTE_34,BYTE_36,BYTE_42,BYTE_43,...,BYTE_916,BYTE_922,BYTE_924,BYTE_943,BYTE_944,BYTE_947,BYTE_949,BYTE_953,BYTE_955,BYTE_961
3743,01IsoiSMh5gxyDYTl4CB,50,53,67,69,68,65,48,67,67,...,50,48,67,57,48,48,48,48,56,51
6351,01SuzwMJEIXsK7A8dQbl,52,65,67,48,48,49,69,48,48,...,67,68,69,70,67,66,69,68,67,48
2729,01azqd4InC7m9JpocGv5,48,48,48,49,48,48,48,57,48,...,52,48,69,48,53,67,50,54,48,48
8503,01jsnpXSAlgw6aPeDxrU,67,48,48,70,67,70,69,55,53,...,55,55,56,66,55,55,66,55,69,69
3185,01kcPWA9K2BOxQeS5Rju,54,49,54,49,54,49,48,48,48,...,52,48,48,56,68,52,50,67,48,48

In [17]:
data_trimmed = sorted_test_image_byte.iloc[:,selected_names]
data_fnames = pd.DataFrame(sorted_test_image_byte['filename'])
sorted_test_image_byte_reduced = data_fnames.join(data_trimmed)
sorted_test_image_byte_reduced.head()

,filename,BYTE_15,BYTE_21,BYTE_22,BYTE_27,BYTE_30,BYTE_34,BYTE_36,BYTE_42,BYTE_43,...,BYTE_916,BYTE_922,BYTE_924,BYTE_943,BYTE_944,BYTE_947,BYTE_949,BYTE_953,BYTE_955,BYTE_961
6977,ITSUPtCmh7WdJcsYDwQ5,54,55,50,52,54,51,49,53,49,...,51,49,55,53,50,51,53,49,55,53
7064,Ig2DB5tSiEy1cJvV0zdw,54,54,65,70,49,48,51,48,48,...,65,65,53,70,70,53,53,48,52,54
6999,Jmo6eIhLZ4t9r8QsxEg5,50,50,50,50,48,50,52,52,50,...,50,48,54,54,50,48,48,48,48,54
5223,JtPFl4ewgdD78OzCMa3o,66,53,49,51,68,50,70,69,48,...,53,66,52,48,53,50,56,53,48,56
3285,K3ZtByPHGSFYNljDUEXp,48,56,66,53,56,67,56,54,48,...,66,53,56,69,67,48,56,66,51,48

In [20]:
# Now write all the sorted and reduced image feature sets to file
f = open('data/sorted-train-image-features-asm-reduced.csv', 'w')
sorted_train_image_asm_reduced.to_csv(f, index=False)
f.close()
f = open('data/sorted-test-image-features-asm-reduced.csv', 'w')
sorted_test_image_asm_reduced.to_csv(f, index=False)
f.close()
f = open('data/sorted-train-image-features-byte-reduced.csv', 'w')
sorted_train_image_byte_reduced.to_csv(f, index=False)
f.close()
f = open('data/sorted-test-image-features-byte-reduced.csv', 'w')
sorted_test_image_byte_reduced.to_csv(f, index=False)
f.close()

## 5. Run ExtraTreeClassifiers With 10-Fold Cross Validation
    Now we can have a quick look at how well the feature set can be classified

In [19]:
def run_cv(X,y, clf):

    # Construct a kfolds object
    kf = KFold(len(y),n_folds=10,shuffle=True)
    y_prob = np.zeros((len(y),9))
    y_pred = np.zeros(len(y))
    
    # Iterate through folds
    for train_index, test_index in kf:
        print(test_index, train_index)
        X_train = X.loc[train_index,:]
        X_test = X.loc[test_index,:]
        y_train = y[train_index]

        clf.fit(X_train,y_train)
        y_prob[test_index] = clf.predict_proba(X_test)
        y_pred[test_index] = clf.predict(X_test)
    
    return y_prob, y_pred

In [20]:
ytrain = np.array(y)

In [21]:
X = data_reduced.iloc[:,1:]
X.shape

(10868, 101)

In [22]:
# At last we can build a hypothesis
clf1 = ExtraTreesClassifier(n_estimators=1000, max_features=None, min_samples_leaf=1, min_samples_split=9, n_jobs=4, criterion='gini')
p1, pred1 = run_cv(X,ytrain,clf1)
print("logloss = ", log_loss(y, p1))
print("score = ", accuracy_score(ytrain, pred1))
cm = confusion_matrix(y, pred1)
print(cm)

(array([    1,     3,     7, ..., 10840, 10852, 10864]), array([    0,     2,     4, ..., 10865, 10866, 10867]))
(array([   19,    21,    42, ..., 10814, 10833, 10838]), array([    0,     1,     2, ..., 10865, 10866, 10867]))
(array([   14,    17,    24, ..., 10846, 10848, 10856]), array([    0,     1,     2, ..., 10865, 10866, 10867]))
(array([    9,    20,    27, ..., 10857, 10861, 10866]), array([    0,     1,     2, ..., 10864, 10865, 10867]))
(array([    6,    25,    26, ..., 10827, 10832, 10841]), array([    0,     1,     2, ..., 10865, 10866, 10867]))
(array([    8,    11,    23, ..., 10823, 10837, 10855]), array([    0,     1,     2, ..., 10865, 10866, 10867]))
(array([    2,    37,    39, ..., 10824, 10828, 10834]), array([    0,     1,     3, ..., 10865, 10866, 10867]))
(array([    4,     5,    10, ..., 10851, 10865, 10867]), array([    0,     1,     2, ..., 10863, 10864, 10866]))
(array([    0,    15,    32, ..., 10836, 10847, 10853]), array([    1,     2,     3, ..., 10865, 10866, 10867]))
(array([   16,    18,    22, ..., 10860, 10862, 10863]), array([    0,     1,     2, ..., 10865, 10866, 10867]))
('logloss = ', 0.041558532227727193)
('score = ', 0.99236290025763707)
[[1535    0    1    1    0    0    0    4    0]
 [   6 2468    2    0    0    2    0    0    0]
 [   0    0 2942    0    0    0    0    0    0]
 [   0    0    1  470    0    0    0    4    0]
 [   1    1    0    0   38    0    0    2    0]
 [   3    1    0    1    0  741    0    2    3]
 [   0    0    0    0    0    0  398    0    0]
 [  28    1    1    6    0    1    2 1188    1]
 [   4    0    0    0    0    2    0    2 1005]]

In [23]:
# Finally shove the test feature set into the classifier
test_X = test_data_reduced.iloc[:,1:]
test_predictions = clf1.predict(test_X)
test_predictions

array([2, 3, 4, ..., 3, 6, 7])

In [30]:
# Write out the predictions to a csv file
out_test_y = pd.DataFrame(columns=['filename', 'class'])
out_test_y['filename'] = test_data_reduced['filename']
out_test_y['class'] = pd.DataFrame(test_predictions, columns=['class'])
out_test_y.head()

               filename  class
0  N0DQkgaq9wjO1fJLn2ME      2
1  VuvdGbYitmxa05lHrPnT      3
2  NRUDJPSHu4dAyFjzLIg9      4
3  ZmdXvIh5qHCOyJPwiE6g      2
4  rcb7LxNP6itSDnwgh3Km      3

[5 rows x 2 columns]

In [33]:
out_test_y.to_csv('data/test-label-ETC-predictions.csv', index=False)

## 4. TEST/EXPERIMENTAL CODE ONLY

In [ ]:
# go through the features and delete any that sum to less than 200
colsum = X.sum(axis=0, numeric_only=True)

In [ ]:
zerocols = colsum[(colsum[:] == 0)]
zerocols

In [ ]:
zerocols = colsum[(colsum[:] < 110)]
zerocols.shape

In [ ]:
reduceX = X
for col in reduceX.columns:
  if sum(reduceX[col]) < 100:
    del reduceX[col]
    
reduceX.shape

In [ ]:
skb = SelectKBest(chi2, k=20)
X_kbestnew = skb.fit_transform(X, y)
X_kbestnew.shape

In [ ]:
y = [0]*labels.shape[0]
fnames = train_data['filename']
for i in range(len(y)):
  fname = train_data.loc[i,'filename']
  row = labels[labels['Id'] == fname]
  y[i] = row.iloc[0,1]