In [2]:
import numpy as np
import scipy as sp
import pandas as pd
import sklearn as skl
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest, SelectPercentile
from sklearn.feature_selection import chi2
from sklearn.metrics import log_loss, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.cross_validation import cross_val_score, KFold

## 1. Feature Reduction For Training Data

       Run each section in sequence.

In [3]:
train_data = pd.read_csv('data/train-malware-features-asm.csv')
labels = pd.read_csv('data/trainLabels.csv')
X = train_data.iloc[:,1:]
y = [0]*labels.shape[0]
fnames = train_data['filename']
for i in range(len(y)):
  fname = train_data.loc[i,'filename']
  row = labels[labels['Id'] == fname]
  y[i] = row.iloc[0,1]

In [4]:
print(X.shape)

(10868, 1006)

In [6]:
train_data.head()

,filename,edx,esi,es,fs,ds,ss,gs,cs,ah,al,ax,bh,bl,bx,ch,cl,cx,dh,dl,
0,4jKA1GUDv6TMNpPuIxER,4049,9957,11,3,3,3,3,3,60,791,242,9,393,31,26,477,135,8,381,...
1,4ZBJzEqnW52fFUw0PG3v,539,513,10,0,12,16,0,12,29,152,8,53,24,2,25,53,5,52,30,...
2,6m8NxLfg2MR0nwXFuEq5,427,482,1,0,0,0,0,0,18,163,16,0,84,0,0,84,0,1,130,...
3,28U1hRkQ6Yl57493ZdXD,51,91,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4,45Wy3TxE98HfiXreOCSu,644,726,8,0,0,0,0,0,2,98,89,0,12,1,13,157,80,0,70,...

In [8]:
# find the top 10 percent variance features, from 1006 -> 101 features
fsp = SelectPercentile(chi2, 10)
X_new = fsp.fit_transform(X,y)
X_new.shape

(10868, 101)

In [9]:
X_new

array([[ 4049,  9957,    60, ...,   370,   196, 62816],
       [  539,   513,    29, ...,    11,    12,  7370],
       [  427,   482,    18, ...,    17,   119,  3025],
       ...,
       [  969,     7,     2, ...,     0,    40,  1743],
       [  530,  1462,     0, ...,     0,    12, 12711],
       [ 1534,   630,     0, ...,     0,    27, 10795]])

In [10]:
selected_names = fsp.get_support(indices=True)
selected_names = selected_names + 1
selected_names

array([  1,   2,   9,  10,  11,  13,  14,  16,  17,  19,  20,  21,  22,
        23,  24,  25,  26,  27,  28,  30,  31,  32,  35,  36,  39,  40,
        41,  42,  43,  52,  55,  56,  57,  58,  60,  62,  63,  65,  66,
        67,  68,  69,  71,  73,  74,  76,  77,  78,  79,  80,  81,  82,
        85,  86,  88,  89,  93,  95,  99, 100, 107, 109, 112, 115, 116,
       118, 119, 140, 398, 400, 712, 913, 914, 917, 923, 924, 925, 926,
       927, 928, 929, 930, 932, 934, 935, 937, 939, 940, 943, 944, 945,
       946, 947, 957, 962, 964, 971, 978, 985, 986, 987])

In [11]:
data_trimmed = train_data.iloc[:,selected_names]

In [13]:
data_fnames = pd.DataFrame(train_data['filename'])
data_reduced = data_fnames.join(data_trimmed)
data_reduced.head()

,filename,edx,esi,ah,al,ax,bl,bx,cl,cx,dl,dx,eax,ebp,ebx,ecx,edi,esp,add,al.1,
0,4jKA1GUDv6TMNpPuIxER,4049,9957,60,791,242,393,31,477,135,381,63,17317,10925,4891,8324,7013,3831,1733,331,...
1,4ZBJzEqnW52fFUw0PG3v,539,513,29,152,8,24,2,53,5,30,4,629,133,523,544,527,266,260,22,...
2,6m8NxLfg2MR0nwXFuEq5,427,482,18,163,16,84,0,84,0,130,0,776,235,205,1012,319,163,142,74,...
3,28U1hRkQ6Yl57493ZdXD,51,91,0,0,0,0,0,0,0,0,0,53,81,29,23,111,1,4,0,...
4,45Wy3TxE98HfiXreOCSu,644,726,2,98,89,12,1,157,80,70,84,1337,781,274,911,428,574,290,49,...

In [14]:
data_reduced.to_csv('data/train-malware-features-asm-reduced.csv', index=False)

## 2. Feature Reduction Of Test Data
    Run each section in sequence

In [15]:
test_data = pd.read_csv('data/test-malware-features-asm.csv')
test_data.shape

(10873, 1007)

In [16]:
test_data.head()

,filename,edx,esi,es,fs,ds,ss,gs,cs,ah,al,ax,bh,bl,bx,ch,cl,cx,dh,dl,
0,N0DQkgaq9wjO1fJLn2ME,382,664,0,0,0,0,0,0,0,76,107,0,36,0,0,79,57,0,68,...
1,VuvdGbYitmxa05lHrPnT,129,101,40,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,...
2,NRUDJPSHu4dAyFjzLIg9,351,329,32,0,25,7,4,1,7,135,12,70,35,4,21,61,27,23,79,...
3,ZmdXvIh5qHCOyJPwiE6g,303,248,0,0,0,0,0,0,0,6,1,0,9,3,0,42,1,0,3,...
4,rcb7LxNP6itSDnwgh3Km,99,75,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,0,...

In [21]:
# Get the feature names from the reduced train dataframe
column_names = data_reduced.columns
print(column_names)

Index([u'filename', u'edx', u'esi', u'ah', u'al', u'ax', u'bl', u'bx', u'cl', u'cx', u'dl', u'dx', u'eax', u'ebp', u'ebx', u'ecx', u'edi', u'esp', u'add', u'al.1', u'call', u'cdq', u'cld', u'cmp', u'const', u'db', u'dd', u'dec', u'dw', u'endp', u'fld', u'fstp', u'fword', u'fxch', u'imul', u'inc', u'int', u'jb', u'jg', u'jge', u'jl', u'jmp', u'jnb', u'jnz', u'jz', u'lea', u'mov', u'movzx', u'mul', u'near', u'neg', u'not', u'or', u'pop', u'popf', u'push', u'pushf', u'rep', u'retn', u'sar', u'sbb', u'shl', u'shr', u'std', u'sub', u'test', u'xchg', u'xor', u'time', u'exit', u'free', u'__CxxFrameHandler', u'Offset', u'loc', u'var', u'BYTES', u'large', u'short', u'dd.1', u'db.1', u'dw.1', u'XREF', u'ptr', u'FUNCTION', u'byte', u'word', u'char', u'stdcall', u'arg', u'align', u'WinMain', u'unk', u'cookie', u'off', u'void', u'HWND', u'int.1', u'entry', u'__imp_', u'.rdata:', ...], dtype='object')

In [22]:
# Extract the reduced feature set from the full test feature set
test_data_reduced = test_data.loc[:,column_names]

In [23]:
test_data_reduced.head()

,filename,edx,esi,ah,al,ax,bl,bx,cl,cx,dl,dx,eax,ebp,ebx,ecx,edi,esp,add,al.1,
0,N0DQkgaq9wjO1fJLn2ME,382,664,0,76,107,36,0,79,57,68,40,841,354,220,741,300,257,169,39,...
1,VuvdGbYitmxa05lHrPnT,129,101,2,1,0,0,0,0,0,0,0,253,199,122,124,357,243,129,0,...
2,NRUDJPSHu4dAyFjzLIg9,351,329,7,135,12,35,4,61,27,79,33,427,207,267,427,286,250,165,54,...
3,ZmdXvIh5qHCOyJPwiE6g,303,248,0,6,1,9,3,42,1,3,4,436,412,145,338,170,57,49,2,...
4,rcb7LxNP6itSDnwgh3Km,99,75,2,1,0,0,0,0,0,0,0,137,148,83,98,226,272,186,0,...

In [24]:
test_data_reduced.to_csv('data/test-malware-features-asm-reduced.csv', index=False)

## 3. Run ExtraTreeClassifiers With 10-Fold Cross Validation

In [47]:
def run_cv(X,y, clf):

    # Construct a kfolds object
    kf = KFold(len(y),n_folds=10,shuffle=True)
    y_prob = np.zeros((len(y),9))
    y_pred = np.zeros(len(y))
    
    # Iterate through folds
    for train_index, test_index in kf:
        print(test_index, train_index)
        X_train = X.loc[train_index,:]
        X_test = X.loc[test_index,:]
        y_train = y[train_index]

        clf.fit(X_train,y_train)
        y_prob[test_index] = clf.predict_proba(X_test)
        y_pred[test_index] = clf.predict(X_test)
    
    return y_prob, y_pred

In [41]:
ytrain = np.array(y)

In [50]:
X = data_reduced.iloc[:,1:]
X.shape

(10868, 101)

In [56]:
clf1 = ExtraTreesClassifier(n_estimators=1000, max_features=None, min_samples_leaf=1, min_samples_split=9, n_jobs=4, criterion='gini')
p1, pred1 = run_cv(X,ytrain,clf1)
print "logloss = %.3f" % log_loss(y, p1)
print "score = %.3f" % accuracy_score(ytrain, pred1)
cm = confusion_matrix(y, pred1)
print(cm)

(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9782,)
(9782,)
logloss = 0.043
[[1535    0    1    1    0    0    0    4    0]
 [   7 2469    1    0    0    1    0    0    0]
 [   0    0 2942    0    0    0    0    0    0]
 [   0    0    1  470    0    0    0    4    0]
 [   1    1    0    0   40    0    0    0    0]
 [   3    1    0    1    0  741    0    2    3]
 [   0    0    0    0    0    0  398    0    0]
 [  26    1    1    2    0    2    1 1195    0]
 [   4    0    0    0    0    2    0    2 1005]]

In [57]:
clf2 = ExtraTreesClassifier(n_estimators=500, max_features=None, min_samples_leaf=1, min_samples_split=9, n_jobs=4, criterion='gini')
p2, pred2 = run_cv(X,ytrain,clf2)
print "logloss = %.3f" % log_loss(y, p2)
print "score = %.3f" % accuracy_score(ytrain, pred2)
cm = confusion_matrix(y, pred2)
print(cm)

(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9782,)
(9782,)
logloss = 0.041
[[1535    0    1    1    0    0    0    4    0]
 [   7 2468    2    0    0    0    0    0    1]
 [   0    0 2942    0    0    0    0    0    0]
 [   0    0    1  470    0    0    0    4    0]
 [   1    1    0    0   40    0    0    0    0]
 [   3    1    0    1    0  741    0    3    2]
 [   0    0    0    0    0    0  398    0    0]
 [  30    0    1    3    0    2    2 1190    0]
 [   4    0    0    0    0    1    0    3 1005]]

In [58]:
clf3 = ExtraTreesClassifier(n_estimators=250, max_features=None, min_samples_leaf=1, min_samples_split=9, n_jobs=4, criterion='gini')
p3, pred3 = run_cv(X,ytrain,clf3)
print "logloss = %.3f" % log_loss(y, p3)
print "score = %.3f" % accuracy_score(ytrain, pred3)
cm = confusion_matrix(y, pred3)
print(cm)

(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9782,)
(9782,)
logloss = 0.044
[[1534    0    1    1    0    0    0    5    0]
 [   6 2469    1    0    0    2    0    0    0]
 [   0    0 2942    0    0    0    0    0    0]
 [   0    0    1  469    0    0    0    5    0]
 [   1    1    0    0   40    0    0    0    0]
 [   3    1    0    1    0  741    0    2    3]
 [   0    0    0    0    0    0  398    0    0]
 [  26    1    1    5    1    3    2 1189    0]
 [   3    0    0    0    0    2    0    2 1006]]

In [59]:
clf4 = ExtraTreesClassifier(n_estimators=2000, max_features=None, min_samples_leaf=2, min_samples_split=3, n_jobs=4, criterion='gini')
p4, pred4 = run_cv(X,ytrain,clf4)
print "logloss = %.3f" % log_loss(y, p4)
print "score = %.3f" % accuracy_score(ytrain, pred4)
cm = confusion_matrix(y, pred4)
print(cm)

(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9782,)
(9782,)
logloss = 0.040
[[1535    0    1    1    0    0    0    4    0]
 [   9 2466    2    0    0    1    0    0    0]
 [   0    0 2939    0    0    0    0    3    0]
 [   0    0    1  473    0    0    0    1    0]
 [   1    2    0    0   38    0    0    1    0]
 [   3    1    0    1    0  741    0    2    3]
 [   0    0    0    0    0    0  397    1    0]
 [  31    0    1    4    0    2    1 1189    0]
 [   4    0    0    0    0    2    0    2 1005]]

In [64]:
clf5 = ExtraTreesClassifier(n_estimators=1000, n_jobs=4, criterion='gini')
p5, pred5 = run_cv(X,ytrain,clf5)
print "logloss = %.4f" % log_loss(y, p5)
print "score = %.4f" % accuracy_score(ytrain, pred5)
cm = confusion_matrix(y, pred5)
print(cm)

(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9782,)
(9782,)
logloss = 0.0533
score = 0.9930
[[1535    0    1    1    0    0    0    4    0]
 [   7 2468    1    1    0    1    0    0    0]
 [   0    0 2938    0    0    0    0    4    0]
 [   1    0    0  473    0    0    0    1    0]
 [   1    1    0    0   40    0    0    0    0]
 [   3    1    0    1    0  743    0    2    1]
 [   0    0    0    0    0    0  396    2    0]
 [  27    0    0    3    0    2    1 1195    0]
 [   4    0    0    0    0    2    0    3 1004]]

In [65]:
clf6 = ExtraTreesClassifier(n_estimators=2000, n_jobs=4, criterion='gini')
p6, pred6 = run_cv(X,ytrain,clf6)
print "logloss = %.4f" % log_loss(y, p6)
print "score = %.4f" % accuracy_score(ytrain, pred6)
cm = confusion_matrix(y, pred6)
print(cm)

(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9781,)
(9782,)
(9782,)
logloss = 0.0509
score = 0.9928
[[1534    0    1    1    0    0    0    5    0]
 [   9 2467    1    0    0    1    0    0    0]
 [   0    0 2941    0    0    0    0    1    0]
 [   1    0    0  473    0    0    0    1    0]
 [   1    1    0    0   39    0    0    1    0]
 [   3    1    0    3    0  741    0    2    1]
 [   0    0    0    0    0    0  396    2    0]
 [  27    0    1    3    0    1    1 1194    1]
 [   4    0    0    0    0    2    0    2 1005]]

## 4. TEST/EXPERIMENT CODE ONLY

In [ ]:
# go through the features and delete any that sum to less than 200
colsum = X.sum(axis=0, numeric_only=True)

In [ ]:
zerocols = colsum[(colsum[:] == 0)]
zerocols

In [ ]:
zerocols = colsum[(colsum[:] < 110)]
zerocols.shape

In [ ]:
reduceX = X
for col in reduceX.columns:
  if sum(reduceX[col]) < 100:
    del reduceX[col]
    
reduceX.shape

In [ ]:
skb = SelectKBest(chi2, k=20)
X_kbestnew = skb.fit_transform(X, y)
X_kbestnew.shape