## 1. Analysis and Transormation of Selected Features to Strengthen Weak Learners

In [ ]:
# Just import everything we might need, it saves time.
import warnings
import numpy as np
import scipy as sp
import pandas as pd
import sklearn as skl
import matplotlib.pyplot as plt
from time import time
from scipy.stats import randint as sp_randint
from sklearn.metrics import log_loss, confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.cross_validation import cross_val_score, KFold, train_test_split
from sklearn.grid_search import GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import RidgeClassifierCV
from sklearn.svm import SVC
import seaborn as sns
%pylab inline
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

## 2. Load The Sorted Training Data Features
    - sorted-train-malware-features-asm-reduced.csv
    - sorted-train-malware-features-byte.csv
    - sorted-train-labels.csv
    - sorted-train-features-combined.csv

In [2]:
# First load the .asm and .byte training data and training labels
sorted_train_data_asm = pd.read_csv('data/sorted-train-malware-features-asm-reduced.csv')
sorted_train_data_byte = pd.read_csv('data/sorted-train-malware-features-byte.csv')
sorted_train_labels = pd.read_csv('data/sorted-train-labels.csv')
combined_train_data = pd.read_csv('data/sorted-train-features-combined.csv')

In [3]:
combined_train_data.head()

,filename,edx,esi,ah,al,ax,bl,bx,cl,cx,dl,dx,eax,ebp,ebx,ecx,edi,esp,add,al.1,
0,01IsoiSMh5gxyDYTl4CB,750,496,8,224,49,25,0,191,52,163,63,1447,905,260,1093,393,420,323,79,...
1,01SuzwMJEIXsK7A8dQbl,1121,24,6,22,7,4,0,37,2,9,3,1220,1544,18,1228,24,107,427,8,...
2,01azqd4InC7m9JpocGv5,1493,1900,1,398,0,47,0,77,4,56,2,4438,591,810,2317,1284,701,622,262,...
3,01jsnpXSAlgw6aPeDxrU,525,4,0,0,0,1,0,1,2,0,0,942,451,5,547,5,56,32,0,...
4,01kcPWA9K2BOxQeS5Rju,23,35,0,3,0,1,0,1,0,0,0,137,43,19,66,15,81,11,1,...

In [4]:
sorted_train_labels.head()

                     Id  Class
0  01IsoiSMh5gxyDYTl4CB      2
1  01SuzwMJEIXsK7A8dQbl      8
2  01azqd4InC7m9JpocGv5      9
3  01jsnpXSAlgw6aPeDxrU      9
4  01kcPWA9K2BOxQeS5Rju      1

[5 rows x 2 columns]

In [5]:
# Assign asm data to X,y for brevity.
X = sorted_train_data_asm.iloc[:,1:]
y = np.array(sorted_train_labels.iloc[:,1])

## 3. Perform Some Basic Statistical Analysis on the Feature Sets
    Find the following:
    - Feature mean
    - Feature standard deviation
    - Feature variance
    - Feature covariance
    - Feature minimum and maximum

In [6]:
X_means = X.mean()
X_std = X.std()
X_var = X.var()
X_cov = X.cov()

In [7]:
X_means.head()

edx    1627.457674
esi    1949.682002
ah       13.150994
al      152.700037
ax       49.641792
dtype: float64

In [8]:
X_std.head()

edx    5068.465392
esi    5658.988444
ah       81.636518
al      553.207687
ax      253.375761
dtype: float64

In [9]:
X_var.head()

edx    25689341.427214
esi    32024150.208061
ah         6664.521139
al       306038.744467
ax        64199.276203
dtype: float64

In [10]:
X_cov.head()

,edx,esi,ah,al,ax,bl,bx,cl,cx,dl,dx,eax,ebp,ebx,ecx,edi,esp,add,al.1,call,
edx,25689341.427214,24021341.574926,77816.365966,1173060.889760,552707.732099,420122.862691,67935.903298,664336.192624,167677.530769,551986.788517,160633.380396,39635373.785218,13309252.000075,20855102.917360,28932452.694969,21103114.490023,9351810.128536,3473379.040971,540426.239710,5675087.723663,...
esi,24021341.574926,32024150.208061,117102.369544,1749134.774025,738932.665688,642582.379645,103909.215140,870052.329000,252532.083299,650535.234988,200624.604762,50748782.440052,19637851.943241,23443489.760017,34132376.322045,25966079.132978,12268049.826251,4326258.849094,798573.314783,10426088.255026,...
ah,77816.365966,117102.369544,6664.521139,15879.570373,10025.209333,5030.475764,853.997842,9236.682431,2749.135929,6430.990007,2389.313708,229611.474637,116872.495946,60487.716837,142338.161977,74460.616296,137561.086979,37961.031797,6466.934908,61301.219905,...
al,1173060.889760,1749134.774025,15879.570373,306038.744467,62467.912234,100111.288981,9909.860039,149590.112335,24356.869014,151871.916812,20967.927374,3528392.978622,1789404.646572,984825.883538,2080083.867064,1120180.196304,1301054.148815,450909.003780,141437.789580,976032.060932,...
ax,552707.732099,738932.665688,10025.209333,62467.912234,64199.276203,21323.331827,9850.954983,34519.207327,20671.689437,24800.422126,16559.973295,1402595.601515,608089.199128,469983.301482,857070.437279,527729.536491,558199.726942,182120.157051,26426.084706,326873.348816,...